@model ExodusFreedomLoans.Models.Applicant
@{
    var title = "New Applicant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Need Title to show-->

<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if(Model.ApplicantKey != 0)
        {
            <input type="hidden" asp-for="ApplicantKey" />
            title = "Edit Applicant";
        }
    </div>

    <div class="col-12">
        <h2 class="form-group row"></h2>
        <br />
    </div>
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ApplicantName"></label>
            </div>
            <div class="col-8">
                <input asp-for="ApplicantName" class="form-control" />
                <span asp-validation-for="ApplicantName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ApplicantPhone"></label>
            </div>
            <div class="col-8">
                <input asp-for="ApplicantPhone" class="form-control" />
                <span asp-validation-for="ApplicantPhone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8 offset-4">
                @if(Model.ApplicantKey != 0)
                {
                    //Edit button and back to list
                    <partial name="_EditAndBackToList" model="Model.ApplicantKey" />

                }
                else
                {
                    //Create and back to list
                    <partial name="_CreateAndBackToList" />
                }
            </div>
        </div>
    </div>
</form>

