<div class="row">
    <div class="col">
        <a asp-action="Accept" asp-route-id="@Model.ApplicantKey" class="btn btn-success form-control"><i class="fas fa-check-square"></i> Accept </a>
    </div>
    <div class="col">
        <a asp-action="Decline" asp-route-id="@Model.ApplicantKey" class="btn btn-danger form-control"><i class="fas fa-check-square"></i> Decline </a>
    </div>
</div>